
 <div class="main">
  <div class="left-col">
      <img src="assets/images/1.png" class="logo" (click)="logoPic()" style="cursor: pointer;">
      <div class="content-box">
          <!-- <img src="assets/images/rating.png" class="rating"> -->
          <h1>The Student Box</h1>
          <p>Your essentials delivered to you</p>
          <a href="products" >Order Now<img src="assets/images/arrow.png" ></a>
      </div>
      <!-- <img src="assets/images/left-arrow.png" class="left-arrow"> -->
  </div>

  <div class="right-col">
      <div class="navbar">
          <!-- <div class="search-box">
              <input type="text" placeholder="Find recipes, videos and more">
              <img src="assets/images/search.png">
          </div> -->
          <ul>
              <li><a href="prims"><img src="assets/images/fill-tag.png">Prims</a></li>
              <li><a href="">Sign Up</a></li>
          </ul>
      </div>
      <div class="more-items">
          <img src="assets/images/fruit1.png">
          <img src="assets/images/fruit2.png">
          <img src="assets/images/fruit3.png">
      </div>
      <!-- <img src="assets/images/right-arrow.png" class="right-arrow"> -->
  </div>



  <img src="assets/images/fruits.png" class="main-img">


</div>

<div class="side-bar">
  <img src="assets/images/menu.png" class="menu">

  <div class="social-links">
      <img src="assets/images/fb.png">
      <img src="assets/images/ig.png">
      <img src="assets/images/tw.png">
  </div>

  <div class="useful-links">
      <img src="assets/images/share.png">
      <img src="assets/images/info.png">

  </div>

</div>






