

<ng-container *ngIf="!mobile">
    <section class="home">

        <div class="slides-container">
     
            <div class="slide active">
                <div class="content">
                    <span>Farm-fresh fruit & veg</span>
                    <h3></h3>
                    <a href="essentials-plus" class="btn">shop now</a>
                </div>
                <div class="image">
                    <img src="assets/images/home-img-1_ccexpress.png" width="300" height="300" alt="">
                </div>
            </div>
     
        </div>
     
        
     
     </section>
     
     <section class="banner-container">
     
        <div class="banner">
            <img src="assets/images/banner-1.jpg" alt="">
            <div class="content">
                <span>Premium Box</span>
                <h3>R229.99</h3>
                <a href="premium" class="btn">shop now</a>
            </div>
        </div>
     
        <div class="banner">
            <img src="assets/images/banner-2.jpg" alt="">
            <div class="content">
                <span>Essentials +</span>
                <h3>R179.99</h3>
                <a href="essentials-plus" class="btn">shop now</a>
            </div>
        </div>
     
        <div class="banner">
            <img src="assets/images/banner-3.jpg" alt="">
            <div class="content">
                <span>Essentials</span>
                <h3>R129.99</h3>
                <a href="essentials" class="btn">shop now</a>
            </div>
        </div>
     
     </section>
     
     <section class="info-container">
     
        <div class="info">
            <img src="assets/images/icon-1.png" alt="">
            <div class="content">
                <h3>Weekly Deliveries</h3>
                <span>Every Wednesday</span>
            </div>
        </div>
     
        <div class="info">
            <img src="assets/images/icon-2.png" alt="">
            <div class="content">
                <h3>24 / 7 available</h3>
                <span>call us anytime</span>
            </div>
        </div>
     
        <div class="info">
            <img src="assets/images/icon-3.png" alt="">
            <div class="content">
                <h3>easy on delievry payments</h3>
                <span>cash or bank card</span>
            </div>
        </div>
     
     </section>
     
     <!-- <section class="review">
     
        <div class="box">
            <div class="user">
                <img src="assets/images/pic-1.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>happy client</span>
                </div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem molestiae expedita culpa officiis harum impedit vel! Odit saepe similique vero!</p>
        </div>
     
        <div class="box">
            <div class="user">
                <img src="assets/images/pic-2.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>happy client</span>
                </div>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem molestiae expedita culpa officiis harum impedit vel! Odit saepe similique vero!</p>
        </div>
     
     </section> -->
</ng-container>
 






