<section class="account-page section-padding">
  <div class="container">
     <div class="row">
        <div class="col-lg-9 mx-auto">
           <div class="row no-gutters">
              <div class="col-md-4">
                 <div class="card account-left">
                    <div class="user-profile-header">
                       <img alt="logo" src="../../../assets/files/img/user.jpg">
                       <h5 class="mb-1 text-secondary"><strong>Hi </strong> Dillan</h5>
                       
                    </div>
                    <div class="list-group">
                       
                       <a href="orderlist.html" class="list-group-item list-group-item-action active"><i aria-hidden="true" class="mdi mdi-format-list-bulleted"></i>  Order List</a>
                       
                    </div>
                 </div>
              </div>
              <div class="col-md-8">
                 <div class="card card-body account-right">
                    <div class="widget">
                       <div class="section-header">
                          <h5 class="heading-design-h5">
                             Order List
                          </h5>
                       </div>
                       <div class="order-list-tabel-main table-responsive">
                          <table class="datatabel table table-striped table-bordered order-list-tabel" width="100%" cellspacing="0">
                             <thead>
                                <tr>
                                   <th>Date Purchased</th>
                                   <th>Total</th>
                                   <th>Address</th>
                                   <th>View</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr *ngFor="let item of order">
                                  
                                   <td>{{convertDate(item.dateOfOrder)}}</td>
                                
                                   <td>R{{item.totalPrice}}</td>
                                   <td>{{item.address1}}</td>
                                   <td><button (click)="saveID(item._id)"><a data-toggle="tooltip" data-placement="top" title=""  data-original-title="View Detail" class="btn btn-info btn-sm"><i class="mdi mdi-eye"></i></a></button></td>
                                </tr>
                               
                             </tbody>
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
