<section class="carousel-slider-main text-center border-top border-bottom bg-white">
    <div class="owl-carousel owl-carousel-slider">
       <div class="item" style="height: 200;">
          <a href="shop.html"><img class="img-fluid" src="../../../assets/images/4779f210-df4d-4901-8ce8-ddd460de83c5.jpg" alt="First slide"></a>
       </div>
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="../../../assets/images/about-img.jpg" alt="First slide"></a>
       </div>
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="assets/files/img/slider/slider1.jpg" alt="First slide"></a>
       </div>
       <div class="item">
          <a href="shop.html"><img class="img-fluid" src="assets/files/img/slider/slider2.jpg" alt="First slide"></a>
       </div>
    </div>
 </section>

 <section class="product-items-slider section-padding">
    <div class="container">
       <div class="section-header">
          <h5 class="heading-design-h5">Vegetables Add Ons
            
          </h5>
       </div>
       <div class="owl-carousel owl-carousel-featured">
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      
                      <img class="img-fluid" src="assets/files/img/item/1.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
            
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">R25.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      <img class="img-fluid" src="assets/files/img/item/2.jpg" alt="">
                      <span class="non-veg text-danger mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">R45.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      <img class="img-fluid" src="assets/files/img/item/3.jpg" alt="">
                      <span class="non-veg text-danger mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      
                      <img class="img-fluid" src="assets/files/img/item/4.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      
                      <img class="img-fluid" src="assets/files/img/item/5.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          
       </div>
    </div>
 </section>


 <section class="product-items-slider section-padding">
    <div class="container">
       <div class="section-header">
          <h5 class="heading-design-h5">Fruits Add Ons
            
          </h5>
       </div>
       <div class="owl-carousel owl-carousel-featured">
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      
                      <img class="img-fluid" src="assets/files/img/item/1.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
            
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">R25.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      <img class="img-fluid" src="assets/files/img/item/2.jpg" alt="">
                      <span class="non-veg text-danger mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">R45.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      <img class="img-fluid" src="assets/files/img/item/3.jpg" alt="">
                      <span class="non-veg text-danger mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      
                      <img class="img-fluid" src="assets/files/img/item/4.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          <div class="item">
             <div class="product">
                <a href="single.html">
                   <div class="product-header">
                      
                      <img class="img-fluid" src="assets/files/img/item/5.jpg" alt="">
                      <span class="veg text-success mdi mdi-circle"></span>
                   </div>
                   <div class="product-body">
                      <h5>Product Title Here</h5>
                      
                   </div>
                   <div class="product-footer">
                      <button type="button" class="btn btn-secondary btn-sm float-right"><i class="mdi mdi-cart-outline"></i> Add To Cart</button>
                      <p class="offer-price mb-0">$450.99 <i class="mdi mdi-tag-outline"></i></p>
                   </div>
                </a>
             </div>
          </div>
          
       </div>
    </div>
 </section>