<body >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-body">
            <div class="login-modal">
               <div class="row">
                  <div class="col-lg-6 pad-right-0">
                     <div class="login-modal-left">
                     </div>
                  </div>
                  <div class="col-lg-6 pad-left-0">
                     <button type="button" class="close close-top-right" [routerLink]="['/']" routerLinkActive="router-link-active"  aria-label="Close">
                     <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                     <span class="sr-only">Close</span>
                     </button>
                     <form>
                       <div class="login-modal-right">
                          <!-- Tab panes -->
                          <div class="tab-content">
                             <div class="tab-pane" id="login" role="tabpanel">
                                <h5 class="heading-design-h5">Login to your account</h5>
                                <fieldset class="form-group">
                                   <label>Enter Email</label>
                                   <input type="email" class="form-control" placeholder="Email" name="email"  required>
                                </fieldset>
                                <fieldset class="form-group">
                                   <label>Enter Password</label>
                                   <input type="password" class="form-control" placeholder="********" name="password"  required>
                                </fieldset>
                                <fieldset class="form-group">
                                   <button type="submit" class="btn btn-lg btn-secondary btn-block" >Sign In</button>
                                </fieldset>
                                <div class="login-with-sites text-center">
                                   <p>or Login with your social profile:</p>
                                   <button class="btn-facebook login-icons btn-lg"><i class="mdi mdi-facebook"></i> Facebook</button>
                                   <button class="btn-google login-icons btn-lg"><i class="mdi mdi-google"></i> Google</button>
                                </div>
                                <div class="custom-control custom-checkbox">
                                   <input type="checkbox" class="custom-control-input" id="customCheck1">
                                   <label class="custom-control-label" for="customCheck1">Remember me</label>
                                </div>
                             </div>
                             <div class="tab-pane active"  role="tabpanel">
                                <h5 class="heading-design-h5">Register Now!</h5>
                                <fieldset class="form-group">
                                   <label>Enter First Name</label>
                                   <input type="text" class="form-control" name="name" placeholder="First Name" name="email" [(ngModel)]="registerData.first_name"required>
                                </fieldset>
                                <fieldset class="form-group">
                                 <label>Enter Last Name</label>
                                 <input type="text" class="form-control" name="name" placeholder="Last Name" name="email" [(ngModel)]="registerData.last_name"required>
                              </fieldset>
                                <fieldset class="form-group">
                                  <label>Enter Email Address</label>
                                  <input type="text" class="form-control" name="regEmail" placeholder="Email" [(ngModel)]="registerData.email" required>
                               </fieldset>
                                <fieldset class="form-group">
                                  <label>Enter Phone Number</label>
                                  <input type="phone" class="form-control" name="phone" placeholder="+91 123 456 7890" [(ngModel)]="registerData.phone_number" required>
                               </fieldset>
                                <fieldset class="form-group">
                                   <label>Enter Password</label>
                                   <input type="password" class="form-control" name="regPassword" placeholder="********" [(ngModel)]="registerData.password" required>
                                </fieldset>
                                <fieldset class="form-group">
                                   <label>Enter Confirm Password </label>
                                   <input type="password" class="form-control" placeholder="********" required>
                                </fieldset>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">I Agree with <a>Term and Conditions</a></label>
                                 </div>
                                <fieldset class="form-group">
                                   <button type="submit" class="btn btn-lg btn-secondary btn-block" (click)="register()">Register</button>
                                </fieldset>
                                
                             </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="text-center login-footer-tab">
                             <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                   <a class="nav-link active" [routerLink]="['/login']"   data-toggle="tab" href="login" role="tab"><i class="mdi mdi-lock"></i> LOGIN</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link"  disabled role="tab"><i class="mdi mdi-pencil"></i> REGISTER</a>
                                </li>
                             </ul>
                          </div>
                          <div class="clearfix"></div>
                       </div>
                    </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
    <ngx-spinner bdColor= "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  </body>
