<!-- <div class="container1">
  <nav>
      <img src="assets/images/logo.png" class="logo">
      <div class="nav-icons">
          <img src="assets/images/search.png">
          <img src="assets/images/cart.png">
          <img src="assets/images/menu.png">
      </div>
  </nav>

  <div class="row-2">
      <div class="col-11">
          <h1>Student Box<br>Essentials</h1>
          <p><br><ul>
            <li>Strawberries</li>
            <li>Lettuce</li>
            <li>Tomatoes</li>
            <li>Cucumber</li>
            <li>Robot Peppers</li>
            <li>Apples</li>
            <li>Spinach</li>
            <li>Potatoes</li>
            <li>Onions</li>
            <li>Carrots</li>
          </ul>  </p>
          <h2>R150</h2>
          <button type="button">ADD TO CART</button>
      </div>
      <div class="col-22">
          <div class="feature-imge">
              <img src="assets/images/2.jpg">
          </div>
          <div class="small-img-row1">
              <div class="small-img1">
                  <img src="assets/images/nike-b.png">
              </div>
              <div class="small-img1">
                  <img src="assets/images/nike-s.png">
              </div>
              <div class="small-img1">
                  <img src="assets/images/nike.png">
              </div>
              <div class="small-img1">
                  <img src="assets/images/nike-g.png">
              </div>
          </div>
          <h2>Essentails +</h2>
      </div>
  </div>

</div> -->

<div class="container">
  <div class="pricing-table table1">
    <div class="pricing-header">
      <div class="price"><span>$</span>19</div>
      <div class="title">Essentials</div>
    </div>
    <ul class="pricing-list">
      <li><strong>20GB</strong> Storage</li>
      <div class="border"></div>
      <li><strong>4</strong> Email Address</li>
      <div class="border"></div>
      <li><strong>1</strong> Domain Name</li>
      <div class="border"></div>
      <li><strong>24h</strong> Support</li>
    </ul>
    <a href="#">Order Now</a>
  </div>

  <div class="pricing-table table2">
    <div class="pricing-header">
      <div class="price"><span>$</span>39</div>
      <div class="title">Essentials Plus</div>
    </div>
    <ul class="pricing-list">
      <li><strong>Apples</strong><strong> Bananas</strong> <strong> Cucumber</strong></li>
      <div class="border"></div>
      <li><strong>Strawberries</strong> Lettuce</li>
      <div class="border"></div>
      <li><strong>3</strong> Domain Name</li>
      <div class="border"></div>
      <li><strong>24h</strong> Support</li>
    </ul>
    <a href="#">Order Now</a>
  </div>

  <div class="pricing-table table3">
    <div class="pricing-header">
      <div class="price"><span>$</span>79</div>
      <div class="title">Premium Box</div>
    </div>
    <ul class="pricing-list">
      <li><strong>200GB</strong> Storage</li>
      <div class="border"></div>
      <li><strong>30</strong> Email Address</li>
      <div class="border"></div>
      <li><strong>10</strong> Domain Name</li>
      <div class="border"></div>
      <li><strong>24h</strong> Support</li>
    </ul>
    <a href="#">Order Now</a>
  </div>
</div>
